
@{
    ViewBag.Title = "FinalizarSolicitud";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<header id="header">


    <!-- Imagen Header -->
    <div class="img-header">
        <div class="welcome">
            <h1 class="text-center">Solicitud Generada Correctamente para Trabajador con ID : 4</h1>
            <hr>
            <p class="text-center glyphicon-text-width" style="background-color: black;">La boleta ha sido generada con el codigo : <strong>SOL - 004</strong>  </p>
            <p class="text-center glyphicon-text-width" style="color: black;">Boleta generada en estado : <strong>Generada</strong></p>

        </div>
    </div>



</header>

<style>
    .img-header {
        position: relative;
        width: 1024px;
        height: 450px;
        background: url(../Content/Images/ticket.jpg);
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }

    p {
        color: white;
        
    }

    h1 {
        color: blue;
    }
</style>


