@model PJ_WEBAPP001.Models.MARCAS

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles </h2>

<div>
    <h4>MARCAS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Descripcion Marca
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DES_MAR)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDE_MAR }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Regresar al Listado", "Index", "", new { @class = "btn btn-success" })
</p>
