@model PJ_WEBAPP001.Models.DISTRITO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Detalle Distrito</h2>

<div>
    <h4>DISTRITO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Descripcion Distrito
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DES_DIS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDE_DIS }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Regresar al Listado", "Index", "", new { @class = "btn btn-success" })
</p>
